/* body {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
} */

#header {
    height: 92px;
    background: linear-gradient(90deg, rgba(58, 49, 160, 0.64) 0.02%, rgba(179, 95, 208, 0.70) 43.93%, rgba(238, 98, 224, 0.67) 87.48%);
    align-content: center;
}

#header-content {
    justify-self: center;
}

#header-search-bar {
    width: 552px;
    height: 36px;
    border-radius: 20px;
}

#header-search-bar-input {
    font-size: 12px;
    font-weight: 400px;
    opacity: .5;
    flex-grow: 1;
}

#header-search-bar-input:focus {
    outline: none;
}

#discount-tag {
    background-color: #B35FD0;
    border-radius: 8px;
}

#product-quantity-setter select {
    background: #d9d9d9;
    border-radius: 8px;
    -webkit-appearance: none;
    text-align: center;
}

#product-buy-field {
    justify-content: center;
}

#product-buy-field button {
    padding: 2px 4px;
    margin-top: 12px;
    border-radius: 4px;
}

#add-to-cart-button {
    border: 2px solid #B35FD0;
}

#buy-button {
    background: linear-gradient(92deg, rgba(137, 67, 203, 0.71) 0%, rgba(204, 71, 225, 0.69) 56.77%, rgba(137, 69, 204, 0.70) 98.96%, rgba(230, 34, 234, 0.70) 98.97%);
}

.product-tag {
    border: 2px solid #B35FD0;
    border-radius: 24px;
    padding: 8px 24px 8px 24px;
    color: #B35FD0;
    font-weight: 600;
    justify-self: center;
    cursor: pointer;
}

.user-comment {
    margin-top: 24px;
}

.user-comment-icon {
    height: 32px;
    border-radius: 50%;
}

.user-comment-name {
    font-weight: 700;
    margin-left: 8px;
    opacity: .8;
}

.user-comment-message {
    margin-left: 40px;
}

#similiar-products {
    
}