@font-face {
    font-family: 'Hammersmith One';
    src: url(./font/Hammersmith_One/HammersmithOne-Regular.ttf);
}

body {
    font-family: 'Hammersmith One';
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
}  

#header {
    height: 92px;
    background: linear-gradient(90deg, rgba(58, 49, 160, 0.64) 0.02%, rgba(179, 95, 208, 0.70) 43.93%, rgba(238, 98, 224, 0.67) 87.48%);
    align-content: center;
}